<section class="">
  <form action="" class="flex items-center gap-1">
    <input
      type="text"
      class="w-96 min-w-0 rounded-lg border p-2.5"
      placeholder="Filter by city"
    />
    <button
      class="rounded-lg border border-primary bg-primary p-2.5 text-white"
    >
      Search!!
    </button>
  </form>
</section>
<section class="mt-12 grid grid-cols-[200px_minmax(900px,_1fr)_100px]">
  <app-housing-location
    *ngFor="let housingLocation of housingLocationList"
    [housingLocation]="housingLocation"
  />
</section>
